header {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    background-color: #120323;
    color: #97bf04;
    padding: 3rem;
    margin-bottom: 2rem;
}

#image {
    width: 900px;
    height:600px;
    border-radius: 10px 10px 10px 10px;
}

h1 {
    color: #97bf04;
    text-align: center;
}

#banner {
    box-shadow: 20px 10px 40px 10px #000000;
    border-radius: 10px 10px 10px 10px;
}

button {
    border-radius: 10px 10px 10px 10px;
    background-color:#d9043d;
    color: #120323;
}




